/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

.doporucujeme{
    display: flex;
    flex-direction: column;
}

.recept{
    padding: 0.5rem;
    min-height: 90px;
    background-position: center;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.recept-meta{
    display: flex;
    justify-content: space-between;
}

.hlavni-recept{
    background-image: url(images/burger.jpg);
    background-size: 100%;
    background-position: center;
    padding: 0.5rem;
    min-height: 200px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recept-nazev-hlavni{
    font-size: 1.75rem;
    overflow-wrap: break-word;
    max-width: 250px;
}

.recept2{
    background-image: url(images/sushi.jpg);
    
}

.recept3{
    background-image: url(images/rajcata.jpg);
}

.recept4{
    background-image: url(images/kure.jpg);
}

.recept5{
    background-image: url(images/grilovani.jpg);
}


@media (min-width: 480px) {

.hlavni-recept{
    min-height: 250px;
    flex-grow: 1; 
    padding: 1.25rem;  
}

.zbytek-nabidky{
    display: flex;
    flex-direction: row; 
    
}

.sloupec{
    display: flex;
    flex-direction: column;
    flex-grow: 1;  
}

h2{
    font-size: 1.5rem;
}

.recept{
    min-height: 150px; 
    padding: 1.25rem; 
}
.recept-nazev-hlavni{
    font-size: 2rem;
        overflow-wrap: normal;
        max-width: 500px;
}
}


@media (min-width: 860px) {
    .doporucujeme{
        flex-direction: row;
    }
    .hlavni-recept{
        min-height: 400px;
        flex-grow: 1; 
    }

    .sloupec{
        flex-grow: 2;
    }

    .recept{
        flex-grow: 1;
        min-height: 200px;
    }
    .recept-nazev-hlavni{
        font-size: 3rem;
    }
    h2{
        font-size: 1.75rem;
    }
}


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */
